/* Base styles for all screen sizes */
.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 8px;
}

.slider {
    border-radius: 5px;
  display: flex;
  height: 200px;
  width: 100%;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dots-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
    border-radius: 5px;
    width: 20px;
    height: 7px;
  background-color: #ffd166;
}

/* Styles specifically for screens up to 800px */
@media (max-width: 800px) {
  .slider {
    height: 200px;
  }
  
  .slide {
    min-width: 100%;
  }
  
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}