body {

  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Poppins', sans-serif !important;
}

@media (min-width: 600px) {
  .mobile-only {
    display: none !important;
  }
}

@media (min-width: 600px) {
  body {
    padding-bottom: 0;
  }
}